.projects-view {
  @include clearfix;
}

.page-title-bar {
  background: $color-three;
  padding: 2.5em 1.5em;
  h1 {
    color: $color-two;
    margin: 0;
    font-size: 2em;
   // display: inline-block;
        vertical-align: middle;
        text-align: center;

  }
  ul.filters {
    margin: 0;
    padding: 0;
    padding-top: 1.5em;
    text-align: center;
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
      // padding-left: 3em;
      //display: inline-block;
    }
    li {
      display: inline-block;
      list-style: none;
      padding: 5px 12px;
      /* background: #6aa9dc; */
      /* border: 2px solid #6aa9dc; */
      color: #6aa9dc;
      border-radius: 3px;
      font-size: 18px;
      margin-right: .5em;
      cursor: pointer;
      &.active {
        background: #e8eef3;
      }
      &.hide {
        display: none;
        background:none !important;
        color: #bb2626;
        padding:5px 7px;
      }
    }
  }
}
.project-item {
  position: relative;
  line-height: 0;
  padding: 2px;
  transform: translateY(-3rem);
  opacity: 0;
  @include breakpoint($bp-medium, $no-query: '.no-mq') {
    width: 50%;
  }
  img {
    width: 100%;
  }
  h2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 2rem 1.5rem;
    font-weight: normal;
    color: #fff;
    font-size: 1.2em;
    opacity: 0;
    font-family: $font-family;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */ 
    transition: all .35s linear;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
  }
  &:hover h2 {
    opacity: 1;
    transition: all .35s linear;
  }
}

@keyframes fade-in-move-down {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out-move-up {
  0% {
    opacity: 1;
    transform: translateY(0rem);
  }
  100% {
    opacity: 0;
    transform: translateY(-3rem);
  }
}

@keyframes opacity-in-out {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes display-none {
  0% {
    display: block;
  }
  50% {
    display:none;
  }
  100% {
    display:none;

  }
}

    .project-item {
        animation: fade-in-move-down 0.7s;
        animation-delay: 0.15s;
        animation-fill-mode: forwards;
      }
.project-item-wrapper {
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

  .project-item.hide-project {
    display: none;
  }

  .sortable {
    background: #efefef;
    margin: 3rem 1rem;
    li {
      h6 {
        margin: 0;
        font-family: $font-family;
        color: #000;
        font-weight: normal;
      }
      input{
        display: none;
      }
    }
  }

  .connected, .sortable, .exclude, .handles {
    margin: auto;
    padding: 0;
    width: 310px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .sortable.grid {
    overflow: hidden;
  }
  .connected li, .sortable li, .exclude li, .handles li {
    list-style: none;
    border: 1px solid #CCC;
    background: #F6F6F6;
    font-family: "Tahoma";
    color: #1C94C4;
    margin: 5px;
    padding: 5px;
    height: 22px;
  }
  .handles span {
    cursor: move;
  }
  li.disabled {
    opacity: 0.5;
  }
  .sortable.grid li {
    line-height: 80px;
    float: left;
    width: 80px;
    height: 80px;
    text-align: center;
  }
  li.highlight {
    background: #FEE25F;
  }
  #connected {
    width: 440px;
    overflow: hidden;
    margin: auto;
  }
  .connected {
    float: left;
    width: 200px;
  }
  .connected.no2 {
    float: right;
  }
  li.sortable-placeholder {
    border: 1px dashed #CCC;
    background: none;
  }