.projects-view {
  @include clearfix;
}

.page-title-bar {
  background: $color-three;
  padding: 2.5em 1.5em;
  h1 {
    color: $color-two;
    margin: 0;
    font-size: 2em;
    display: inline-block;
        vertical-align: middle;

  }
  ul.filters {
    margin: 0;
    padding: 0;
    padding-top: 2em;
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
      padding-left: 3em;
      display: inline-block;
    }
    li {
      display: inline-block;
      list-style: none;
      padding: 5px 15px;
      background: #6aa9dc;
      /* border: 1px solid #ccc; */
      color: #fff;
      border-radius: 3px;
      font-size: 14px;
      margin-right: .5em;
      cursor: pointer;
      font-weight: 700;
      &.active {
        background: #fcbd47;
      }
      &.Hide {
        display: none;
        background:none !important;
        color: #bb2626;
        padding:5px 7px;
      }
    }
  }
}
.project-item {
  position: relative;
  line-height: 0;
  @include breakpoint($bp-medium, $no-query: '.no-mq') {
    width: 50%;
      &:nth-child(odd) {
        float: right;
      }
      &:nth-child(even) {
        float: left;
      }
  }
  img {
    width: 100%;
  }
  h2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 2rem 1.5rem;
    font-weight: normal;
    color: #fff;
    font-size: 1.2em;
    opacity: 0;
    font-family: $font-family;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */ 
    transition: all .35s linear;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
  }
  &:hover h2 {
    opacity: 1;
    transition: all .35s linear;
  }
}

.otb {
    position: relative;
    line-height: 0;
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
        width: 33.3%;
        float: left !important;
    }
  }