
<form action="/thank-you/" method="post" class="contact-form">
  <input type="hidden" name="_to" value="michael@variantstudios.com">
  <input type="hidden" name="_subject" value="Contact Form">
   <input type="text" name="_gotcha" style="display: none;">
    <div class="webform-component">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required="" placeholder="Your Name"> 
    </div>
    <div class="webform-component">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required="" placeholder="Your Email">
    </div>
    <div class="webform-component">
        <label for="message">Message</label>
        <textarea id="message" name="message" rows="6"></textarea>
    </div>
     <!--<div class="g-recaptcha" data-sitekey="6LfB6RUUAAAAAEySJ7Fqc6dvL7oftcr1-l2ZANZA"></div><br>-->
    <input class="sendButton" type="submit" name="Submit" value="Send">
</form>


<form action="https://getsimpleform.com/messages?form_api_token=8220a8b45aed47c50cdf47569d1b8f8b" method="post">
  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
  <input type='hidden' name='redirect_to' value='<the complete return url e.g. http://fooey.com/thank-you.html>' />
  <!-- all your input fields here.... -->
  <input type='text' name='test' />
  <div class="webform-component">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required="" placeholder="Your Name"> 
    </div>
    <div class="webform-component">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required="" placeholder="Your Email">
    </div>
    <div class="webform-component">
        <label for="message">Message</label>
        <textarea id="message" name="message" rows="6"></textarea>
    </div>
  <input type='submit' value='Test form' />
</form>
      