.main-nav {
  margin-top: 3px;
  margin-bottom: 18px;
  @include breakpoint($bp-medium, $no-query: '.no-mq') {
    padding-right: 2em;
    margin-bottom: 36px;
    margin-top: 36px;
  }
}

.front {
  .main-nav {
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
      padding-right:10%;
    }
  }
}
.menu {
  padding: 0;
  margin: 0;
  text-align: center;
  @include breakpoint($bp-medium, $no-query: '.no-mq') {
    text-align: right;
  }
  li {
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0;
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
      display: inline-block;
      line-height: 3em;
    }
    a {
      font-weight: 500;
      font-size: 0.9em;
      transition: color .5s ease;
      padding: .25em .75em;
      display: block;
      color: #4281A8;
      @include breakpoint($bp-medium, $no-query: '.no-mq') {
        margin-left: 1.5em;
        padding: 0;
        font-size: 1em;
      }
      &:hover {
        color: $color-four;
        transition: color .5s ease;
      }
      &:active {
        font-weight: 700;
      }
    }
  }
  a, a:visited {
    text-decoration: none;
  }
}


.js .menu-btn {
  padding: 1em;
  background: $color-one;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.1em;
  text-align: center;
  @include breakpoint($bp-medium, $no-query: '.no-mq') {
    display: none;
  }
  img {
    padding-right: .5em;
  }
}
.no-js .menu-btn {
  display: none;
}
