textarea {
  width: 100%;
  box-sizing: border-box;
  padding: .5em 0;
  font-size: 100%;
  font-family: $font-family;
  border: 0;
  border-bottom: 2px solid $color-two; 
  border-radius: 0;
  background: none;
  &:active, &:focus {
    border-bottom: 2px solid $color-one; 
    box-shadow: none;
    outline: none;
  }
}