.front {
	
}


.featured-project {
  margin-bottom: 1em;
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    margin-bottom: 4em;
  }
}
.front-main {
  background: $color-three;
  @include clearfix;
  padding: 0;
  .wrap {
    max-width: 1500px;
    padding: 0em 2em;
      @include breakpoint($bp-medium, $no-query: ".no-mq") {
        padding: 0 0 4em;
      }
  }
}

.front-about--text {
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    @include grid-span(5,1.5);
  }
  h2 {
    font-size: 2.35em;
    @include breakpoint($bp-medium, $no-query: ".no-mq") {
      font-size: 2.75em;
    }
  }
  p {
    color: $color-two;
  }
}

.front-about--image {
  margin-bottom: 2em;
  margin-top: 3em;
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    @include grid-span(5,7.5);
    margin-bottom: 4em;
  }
  img {
    width: 100%;
    border: 7px solid #FFFFFF;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.31);
    @include breakpoint($bp-medium, $no-query: ".no-mq") {
      border: 15px solid #FFFFFF;
      box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.31);
    }
  }
}


.front-services {
  @include clearfix;
  padding:2em 2em;
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    padding: 4em 0;
  }
}

.front-services--heading {
  text-align: center;
  padding: 0 0 2em;
    h2 {
    font-size: 2.35em;
    margin-top: 0;
    @include breakpoint($bp-medium, $no-query: ".no-mq") {
      font-size: 2.75em;
    }
  }
  h5 {
    text-transform: uppercase;
    color: #D1D1D1;
    margin-bottom: 0.4em;
  }
}

.front-services--image {
  margin-bottom: 2em;
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    @include grid-span(5,1.5);
  }
  img {
    width: 100%;
    border: 7px solid #FFFFFF;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.31);
    @include breakpoint($bp-medium, $no-query: ".no-mq") {
      border: 15px solid #FFFFFF;
      box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.31);
    }
  }

}
.front-services--text {
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    @include grid-span(5,7.5);
  }
  * {
    color: $color-two;
  }
}