.front {
	
}


.featured-project {
  margin-bottom: 1em;
  position: relative;
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    margin-bottom: 4em;
  }
  .buttons {
    position: absolute;
    bottom: 3em;
    right: 3em;
    text-align: right;
    a {
      display: block;
      &.btn {
        background: $color-one;
        color: #fff;
        text-decoration: none;
        padding: 14px 45px 14px;
        font-weight: 700;
        font-size: 15px;
        text-shadow: 0 1px 2px rgba(0,0,0,0.24);
        margin-bottom: 1em;
        box-shadow: 0 0 4px rgba(0,0,0,0.3);
        border-radius: 3px;
        background-image: linear-gradient(45deg, #4281A8 0%, #5E9ADF 100%);
        box-shadow: 0 2px 14px 0 rgba(0,0,0,0.50);

      }
      &.link {
        background: $color-four;
        color: #fff;
        font-weight: 700;
        font-size: 14px;
        text-decoration: none;
        text-shadow: 0 1px 2px rgba(0,0,0,0.24);
        display: inline-block;
        box-shadow: 0 0 4px rgba(0,0,0,0.3);
        padding: 8px 15px;
        border-radius: 3px;
      }
    }

  }
}
.front-main {
  background: $color-three;
  @include clearfix;
  padding: 0;
  .wrap {
    max-width: 1400px;
    padding: 0em 2em;
      @include breakpoint($bp-medium, $no-query: ".no-mq") {
        padding: 0 0 1em;
      }
  }
}

.front-about--text {
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    @include grid-span(5.5,1.5);
  }
  h2 {
    font-size: 2.35em;
    @include breakpoint($bp-medium, $no-query: ".no-mq") {
      font-size: 2.75em;
    }
  }
  p {
    color: $color-two;
  }
}

.front-about--image {
  margin-bottom: 2em;
  margin-top: 3em;
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    @include grid-span(5,8);
    margin-bottom: 4em;
  }
  img {
    width: 100%;
    border: 7px solid #FFFFFF;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.31);
    @include breakpoint($bp-medium, $no-query: ".no-mq") {
      border: 15px solid #FFFFFF;
      box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.31);
    }
  }
}

.testimonial {
  @include clearfix;
  position: relative;
  img {
    display: none;
    @include breakpoint($bp-medium, $no-query: ".no-mq") {
      width: 20%;
      position: absolute;
      bottom: 0;
      display: block;
    }
  }
  .home-testimonial {
    border-top: 1px solid #DDE4E9;
    padding: 2em 2em 4em;
    @include breakpoint($bp-medium, $no-query: ".no-mq") {
      width: 60%;
      margin: 0 auto;
      display: block;
      padding: 4em 3em 4em;
    }
    p, h6 {
      color: $color-two;
      font-family: $font-family;
    }
    p {
      font-style: italic;
    }
  }
  .left {
    float: left;
    left: 0;
  }
  .right {
    float: right;
    right: 0;
  }
}
.front-services {
  @include clearfix;
  padding:2em 2em;
  margin: 0 auto;
  max-width: 1400px;
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    padding: 4em 0;
  }
}

.front-services--heading {
  text-align: center;
  padding: 0 0 4em;
    h2 {
    font-size: 2.35em;
    margin-top: 0;
    @include breakpoint($bp-medium, $no-query: ".no-mq") {
      font-size: 2.75em;
    }
  }
  h5 {
    text-transform: uppercase;
    color: #D1D1D1;
    margin-bottom: 0.4em;
  }
}

.front-services--image {
  margin-bottom: 2em;
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    @include grid-span(5.5,1.35);
  }
  img {
    width: 100%;
  }

}
.front-services--text {
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    @include grid-span(5.5,7.15);
  }
  * {
    color: $color-two;
  }
}