.project-detail {
  img {
    width: 100%;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
    list-style: none;
    padding: 0;
    margin: 0;
      @include breakpoint($bp-medium, $no-query: '.no-mq') {
        width: 50%;
        padding-bottom: .75em;
        &:nth-child(odd) {
          float: left;
          padding-right: .5em;
        }
        &:nth-child(even) {
          float: right;
          padding-left: .5em;
        }
      }
    }
  }
  .gallery {
    max-width: 95%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
      max-width: 80%;
    }
  }
}
.project-header {
  position: relative;
  @include clearfix;
  .intro-box {
    max-width: 95%;
    margin-top: 0em;
    margin-left: auto;
    margin-right: auto;
    background: $color-three;
    position: relative;
    z-index: 1;
    padding: 2em;
    @include clearfix;
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
      margin-top: -6em;
      max-width: 80%;
    }
    .section-one {
      @include breakpoint($bp-medium, $no-query: '.no-mq') {
        float: left;
        width: 28%;
        margin-right: 3em;
        text-align: right;
      }
    }
    .section-two {
      overflow: hidden;
      color: $color-two;
    }
  }
  h1 {
    color: $color-two;
    margin: 0;
  }
  h2 {
    font-size: 1.2em;
    font-weight: 300;
    color: $color-two;
    margin: 0.35em 0 0;
    font-family: $font-family;
  }
}