.logo {
  text-align: center;
  padding: 1em;
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    @include grid-span(4,1,$gutter:0);
    text-align: center;
    padding: 0.8em 0 1em 2em;
    position: absolute;
    z-index: 1;
  }
  img {
    width: 150px;
  }
}
.main-nav {
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    @include grid-span(8,5);
  }
}

.header-wrapper  {
  padding: 1em 0;
  background: $header-bg;
}

.front {
  .logo {

    @include breakpoint($bp-medium, $no-query: ".no-mq") {
      @include grid-span(4,1,$gutter:0);
      padding: 0.8em 0 1em 10%;
    }
    img {
      width: 200px;
    }
  }
}