---
layout: default
---
<main class="front-main">
  <div class="featured-project">
    <img src="/assets/images/work/Wolverine.jpg">
  </div>
  <section class="wrap editable clearfix">
    <div class="front-about--text">
      <h2>About Us.</h2>
      <p>Since 1994, Brian Majeski has designed and managed projects large and small, commercial and residential, in various parts of the country. During the first six years of professional practice, Brian worked in Chicago, Illinois for commercial and institutional firms, such as Teng & Associates. During this period, he worked on a variety of projects including several large office buildings, Western Michigan University football stadium, four public libraries, a Northwestern University interior renovation, and several projects for the United States Postal Service.</p>
      <a href="/about">Learn More About Us</a>
    </div>
    <aside class="front-about--image">
      <img src="/assets/images/home-about.jpg">
    </aside>
  </section>
</main>
<section class="editable front-services">
  <div class="wrap">
    <div class="front-services--heading">
      <h5>Our Services</h5>
      <h2>What We Do.</h2>
    </div>
    <div class="front-services--image">
      <img src="/assets/images/blog/blog1.jpg">
    </div>
    <div class="front-services--text">
      <h2>Design</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tortor arcu, tristique sit amet lorem sit amet, mattis sollicitudin turpis. Morbi nec nisl vitae augue congue lacinia. Fusce non risus libero.</p>

      <h2>Construction</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tortor arcu, tristique sit amet lorem sit amet, mattis sollicitudin turpis. Morbi nec nisl vitae augue congue lacinia. Fusce non risus libero.</p>
    </div>
   </div>
</section>
