---
layout: default-front
---
<main class="front-main">
  <div class="featured-project">
    {% for project in site.projects %}
      {% if project.featured_project == true  %}
          <img src="{{ site.cloudinaryurl }}/image/fetch/c_scale,w_1600/{{ site.url }}{{ project.image_path }}" alt="{{ page.title }}" title="{{ page.title }}" data-img="{{ project.image_path }}" data-width="1600px" data-height="auto" class="header-image" />
                    <div class="buttons">
            <a href="{{ project.url }}" class="btn">{{ project.title}}</a>
            <a href="/projects" class="link">View All Projects</a>
            </div>
      {% endif %}
    {% endfor %}
  </div>
  <section class="wrap editable clearfix">
  	<div class="front-about--text">
  		<h2>About Us.</h2>
  		<p>BRIAN A. MAJESKI, ASSOC AIA</p>
  		<p>Since 1994, Brian Majeski, currently an Assoc AIA, has designed and managed projects large and small, commercial and residential, from both the design-side and construction side. During the first six years of professional practice, Brian worked in Chicago, Illinois for commercial and institutional firms, such as Teng &amp; Associates and The Walsh Group. During this period, he worked on a variety of projects including several large office buildings, Western Michigan University football stadium, four public libraries, a Northwestern University interior renovation, and several projects for the United States Postal Service. &nbsp;</p>
  		<p>In 2001, Brian moved to Steamboat Springs, Colorado to fulfill a life-long dream to focus on custom home design and to recreate in a mountain town. &nbsp; For the next ten years, Brian's main workload included several high end custom mountain homes, designed and built to withstand heavy snow and wind while creating a peaceful abode connected to the outdoors during the warmer seasons. &nbsp; Urban|Rural Design was created in 2004, working in Steamboat, Boulder, Chicago, and Louisville KY. &nbsp;&nbsp; More than 80% of the project portfolio included single family homes and the rest focused on small offices, a bookstore, work/live facilities, and a 30,000sf mixed use building in downtown Steamboat (The Victoria).</p>
  		<p>Moving to Fort Collins in 2010, the track of project types began leaning back to more commercial work with the team UR "collective", Merl Haworth, Architect and Heidi Habbinga, Architect.&nbsp; Continuing to design several single family homes every year, local projects like The Lyric (movie theater, music, art) and The Wolverine Farm Publick House have become iconic to Fort Collins locals. &nbsp;</p><a href="/about">Learn More About Us</a>
  	</div>
  	<aside class="front-about--image"><img src="/assets/images/home-about.jpg" /></aside>
  </section>
  <div class="testimonial editable">
  	<img class="left" src="/assets/images/home-testimonial-left.svg" />
  	<div class="home-testimonial">
  		<p>Brian Majeski worked with my taste and suggested great ideas to maximize light and space without an overblown price tag. He worked with my G.C. to get the project to permit, and the end result was an affordable project without compromising on quality.”</p>
  		<h6>Chris Puckett, Edward Jones Financial Advisor, 1992 U.S Olympic Ski Team</h6>
  	</div><img class="right" src="/assets/images/home-testimonial-right.svg" />
  </div>
</main>
<section class="editable front-services editable">
	<div class="wrap">
		<div class="front-services--heading">
			<h5>Our Services</h5>
			<h2>What We Do.</h2>
		</div>
		<div class="front-services--image"><img src="/assets/images/home-services.png" /></div>
		<div class="front-services--text">
			<h2>Planning, Architectural Design, and Construction Administration</h2>
			<p>U|R Design provides a wide range of services given the varied professional experience from the combination of architectural design and construction administration. U|R Design can guide clients from the conceptual and planning stages of a project through the finishing touches of the construction phase. Here is a list of services that can be rendered:</p>
		</div>
	</div>
</section>
