---
layout: default
---

<main>
  <section class="wrap projects-view">
    <div class="page-title-bar">
      <h1>{{page.title}}</h1>
    </div>
    {% assign sorted = (site.projects | sort: 'weight') %}
    {% for project in sorted %}
    <article class="project-item clearfix">
      <div class="project-item--image">
          <a href="{{ project.url }}">
            <img src="{{ site.cloudinaryurl }}/image/fetch/c_scale,h_450,w_800/{{ site.url }}{{ project.image_path }}" 
            alt="{{ title }}" title="{{title}}" data-img="{{site.url}}{{project.image_path}}" data-width="800px" data-height="450px">
            <h2>{{ project.title }}</h2>
          </a>
      </div>
    </article>
  {% endfor %}
  </section>
</main>
