---
layout: default
---

<main>
  <section class="wrap projects-view">
    <div class="page-title-bar">
      <h1>{{page.title}}</h1>

      <ul class="filters">
        {% assign sortedcat = site.projects | sort | reverse %}
        {% for cat in sortedcat %}
          <li id="{{ cat.categories }}">{{ cat.categories }}</li>
        {% endfor %}

        {% for cat in site.projects %}
          <li id="{{ cat.secondary_categories }}" class="sub">{{ cat.secondary_categories }}</li>
        {% endfor %}

        <li class="Hide">X</li>
      </ul>
      
    </div>
    {% assign sorted = site.projects | sort: "weight" %}
    
    {% for project in sorted %}
      <article class="project-item clearfix {{ project.categories }}">
        <div class="project-item--image">
            <a href="{{ project.url }}">
              <img src="{{ site.cloudinaryurl }}/image/fetch/w_800,h_450,c_fill,c_fill/{{ site.url }}{{ project.image_path }}" 
              alt="{{ project.title }}" title="{{ project.title }}" >
              <h2>{{ project.title | uppercase}}</h2>
            </a>
        </div>
      </article>
  {% endfor %}

  </section>
</main>
