---
layout: default
---

<main>
  <section class="sub-wrap wrap">
      <div class="about-heading">
      <h1 class="pagetitle">{{ page.title }}</h1>
      <h2 class="subtitle">{{ page.subtitle }}</h2>
      </div>
      <div class="about-header-image">
          <img src="{{ page.service_image_path }}" />
      </div>
        <div class="service-text">
            <div class="cols-2">
                <div class="col">
                    
                    <ul>
                        <p>DESIGN PHASE</p>
                        <li>Develop Client Aspirations</li>
                        <li>Team-oriented Approach</li>
                        <li>Conceptual Design and Planning, Site and Building</li>
                        <li>AutoCad Drawings</li>
                        <li>Program Analysis</li>
                        <li>Schematic Design</li>
                        <li>Active and Passive Energy Strategy and Design</li>
                        <li>Presentation Documents / Modeling</li>
                        <li>Permit Procurement</li>
                        <li>Design-Build Process and Management</li>
                        <li>Management of all Professional Disciplines</li>
                        <li>Technology and System Integration</li>
                        <li>Interior Design</li>
                        <li>Lighting Schematic Design / Product Selection</li>
                    </ul>
                </div>
                <div class="col">
                

                <ul>
                    <p>CONSTRUCTION PHASE</p>
                    <li>Construction Management (design by others)</li>
                    <li>Construction Administration (design by U/R)</li>
                    <li>Construction General Contract / Subcontract Review</li>
                    <li>Monthly Payment Application Review</li>
                    <li>Schedule Analysis</li>
                    <li>Construction Bidding (Negotiated or Hard Bid)</li>
                    <li>Construction Technique and Quality Control On-Site Reviews</li>
                    <li>On-Site Problem Solving&nbsp; . . . one substantial key to a fluid, quality project.</li>
                    </ul>
                </div>
                
                </div>
            <div>{{ content }}</div>
        </div>
  </section>
</main>
