---
layout: default
---

<main>
  <section class="sub-wrap wrap">
      <div class="about-heading">
      <h1 class="pagetitle">{{ page.title }}</h1>
      <h2 class="subtitle">{{ page.subtitle }}</h2>
      </div>
      <div class="about-header-image">
          <img src="{{ page.about_image_path }}" />
      </div>
      <div class="about-section">
        <div class="about-text">
            <div>{{ content }}</div>
        </div>
    </div>
        <div class="about-headshot">
            <div style="max-width:1400px">
                <img src="{{ page.headshot_image_path }}" />
                <div class="bio editable">
                    <h6>Principal</h6>
                    <h3>Brian Majeski, Assoc AIA</h3>
                    <p>Since 1994, Brian Majeski has designed and managed projects large and small, commercial and residential, in various parts of the country. He is currently an Associate of the American Institute of Architects (AIA) and serves on the City of Fort Collins Urban Design Working Group, which is part of creating the city's new master plan. He is also serving on the Colorado State University Institute for the Built Environment's (IBE) LENSES Program.</p>
                </div>
            </div>
        </div>
  </section>
</main>
